{% extends 'base.html' %}

{% block content %}
  <div class="container my-5">
    <div class="row">
      <div class="col-12">
        <h1 class="text-start mb-5">{{ data[1] }}
          {% if is_admin %} 
          <br>  
            <td>
                <a href="/action1/update/request/verify/{{data[0]}}" class="btn-md" role="button" style="font-size: 30px;">
                  Verify <br>
                </a>
            </td>
            <td>
              <a href="/action1/update/request/implement/{{data[0]}}" class="btn-md" role="button" style="font-size: 30px;">
                  Action Complete <br>
              </a>
            </td>
            <td>
              <a style="padding-right: 10px;" href="/update/action1/update/request/{{data[0]}}" class="btn-md" role="button" style="font-size: 30px;">
                 Edit
                  <i class="mdi mdi-update"></i>
              </a>
          </td>
          <td>
              <a href="/api/action1/update/request/delete/{{data[0]}}" class="btn-md" role="button" style="font-size: 35px;">
                 Delete
                  <i class="mdi mdi-delete"></i>
              </a>
          </td>
          {% endif %}
        </h1>  
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="card mb-4">
          <div class="card-header">
            <h3 class="card-title">MSG Actions</h3>
          </div>
          <div class="card-body">
            <ul class="list-unstyled">
              <li><strong>S/C:</strong> {{ data[1] }}</li>
              <li><strong>Status:</strong> {{ data[2] }}</li>
              <li><strong>Actionee:</strong> {{ data[3] }}</li>
              <li><strong>Date:</strong> {{ data[4] }}</li>
              <li><strong>Action Type:</strong> {{ data[5] }}</li>
              <li><strong>Action Description:</strong> {{ data[6] }}</li>
              <li><strong>Affected Facility:</strong> {{ data[7] }}</li>
              <li><strong>Action Title:</strong> {{ data[8] }}</li>
              <li><strong>A/R_ref:</strong> {{ data[9] }}</li>
              <li><strong>SWET_ref:</strong> {{ data[10] }}</li>
              <li><strong>Attached Files:</strong> {{ data[11] }}</li>
              <li><strong>Implemented:</strong> {{ data[12] }}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
