{% extends 'base.html' %}

{% block content %}
  <div class="container my-5">
    <div class="row">
      <div class="col-12">
        <h1 class="text-start mb-5">{{ anomaly[2] }} 
        </h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="card mb-4">
          <div class="card-header">
            <h3 class="card-title">Anomaly Details</h3>
          </div>
          <div class="card-body">
            <form action="/api/anomaly/update/{{anomaly[0]}}" method="POST">
              <ul class="list-unstyled">
                <li><strong>Facility:</strong> <input type="text" name="facility" class="form-control" value="{{ anomaly[1] }}"></li>
                <li><strong>Anomaly:</strong> <input type="text" name="anomaly" class="form-control" value="{{ anomaly[2] }}"></li>
                <li><strong>Event:</strong> <input type="text" name="event" class="form-control" value="{{ anomaly[3] }}"></li>
                <li><strong>BOA CNT:</strong> <input type="text" name="cell_cnt" class="form-control" value="{{ anomaly[4] }}"></li>
                <li><strong>Impact:</strong> <input type="text" name="impact" class="form-control" value="{{ anomaly[5] }}"></li>
                <li><strong>Ar Number:</strong> <input type="text" name="ar_number" class="form-control" value="{{ anomaly[6] }}"></li>
                <li><strong>Recover Action:</strong> <input type="text" name="recover_action" class="form-control" value="{{ anomaly[7] }}"></li>
                <li><strong>Date:</strong> <input type="text" name="date" class="form-control" value="{{ anomaly[8] }}"></li>
                <li><strong>Week:</strong> <input type="text" name="week" class="form-control" value="{{ anomaly[9] }}"></li>
                <li><strong>HyperLink:</strong> <input type="text" name="hyperlink" class="form-control" value="{{ anomaly[10] }}"></li>
              </ul>
              <button type="submit" class="btn btn-primary">Update</button>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card mb-4">
          <div class="card-header">
            <h3 class="card-title">Anomaly BOA</h3>
          </div>
          <div class="card-body">
            <form action="/api/anomaly/boa/update/{{anomaly[0]}}" method="POST">
              <ul class="list-unstyled">
                {% for boa in anomaly_boa %}
                <li>
                  <div class="row">
                    <div class="col-md-6">
                      <input type="text" name="boa1" class="form-control" value="{{ boa[2] }}">
                    </div>
                    <div class="col-md-3">
                      <input type="text" name="boa2" class="form-control" value="{{ boa[3] }}">
                    </div>
                    <div class="col-md-3">
                      <input type="text" name="boa3" class="form-control" value="{{ boa[4] }}">
                    </div>
                  </div>
                  </li>
                {% endfor %}
              </ul>
              <button type="submit" class="btn btn-primary">Update BOA</button>
            </form>
          </div>
        </div>
      </div>
    </div>    
    </div>
  </div>
{% endblock %}
