{% extends 'base.html' %}

{% block content %}
  <div class="container my-5">
    <div class="row">
      <div class="col-12">
        <h1 class="text-start mb-5">SRDB Details</h1>
      </div>
    </div>
        <form method="POST" action="/api/srdb/update/{{srdb[0]}}">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>SRDB Name:</label>
                <input type="text" class="form-control" id="srdb_name" name="srdb_name" value="{{ srdb[1] }}">
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label>Version:</label>
                <input type="text" class="form-control" id="version" name="version" value="{{ srdb[2] }}">
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label>S/C:</label>
                <input type="text" class="form-control" id="s_c" name="s_c" value="{{ srdb[5] }}">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Reason for update:</label>
                <input type="text" class="form-control" id="reason_for_update" name="reason_for_update" value="{{ srdb[3] }}">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Link:</label>
                <input type="text" class="form-control" id="link" name="link" value="{{ srdb[4] }}">
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-end align-items-center">
            <button type="submit" class="btn btn-primary">Update</button>
          </div>
          </form>
  </div>
{% endblock %}

