{% extends 'base.html' %}

{% block content %}
  <div class="container my-5">
    <div class="row">
      <div class="col-12">
        <h1 class="text-start mb-5">{{ fd_schedule[10] }}
        {% if is_admin %}
        <td>
            <a href="/fd_schedule/update/{{fd_schedule[0]}}" class="btn-md" role="button">
                <i class="mdi mdi-update"></i>
            </a>
        </td>
        <td>
            <a href="/api/fd_schedule/delete/{{fd_schedule[0]}}" class="btn-md" role="button">
                <i class="mdi mdi-delete"></i>
            </a>
        </td>
        {% endif %}
        </h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="card mb-4">
          <div class="card-header">
            <h3 class="card-title">FD Schedule Details</h3>
          </div>
          <div class="card-body">
            <ul class="list-unstyled">
              <li><strong>ID:</strong> {{ fd_schedule[0] }}</li>
              <li><strong>Year:</strong> {{ fd_schedule[1] }}</li>
              <li><strong>Day:</strong> {{ fd_schedule[2] }}</li>
              <li><strong>Date:</strong> {{ fd_schedule[3] }}</li>
              <li><strong>Penumbra Entry:</strong> {{ fd_schedule[4] }}</li>
              <li><strong>Penumbra Exit:</strong> {{ fd_schedule[5] }}</li>
              <li><strong>Umbra Entry:</strong> {{ fd_schedule[6] }}</li>
              <li><strong>Umbra Exit:</strong> {{ fd_schedule[7] }}</li>
              <li><strong>Duration:</strong> {{ fd_schedule[8] }}</li>
              <li><strong>ECL Time:</strong> {{ fd_schedule[9] }}</li>
            </ul>
          </div>
        </div>
      </div>
      
    </div>
  </div>
{% endblock %}
