<!-- templates/home.html -->

{% extends 'base.html' %}

{% block title %} SOI 1 {% endblock %}

{% block content %}
    <div class="schedule-main">
        <h1> MTG SOIs</h1>
        <hr>

        <div class="card mb-3">
            <div class="card-header">
                Filters
            </div>
            <div class="card-body">
                <form method="GET" action="{{ url_for('get_all_soi_1') }}">
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label for="title">SOI Number</label>
                            <input type="text" class="form-control" id="soiNumber" name="soiNumber">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="title">Soi Name</label>
                            <input type="text" class="form-control" id="soiName" name="soiName">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="title">Version</label>
                            <input type="text" class="form-control" id="version" name="version">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="title">Valid</label>
                            <input type="text" class="form-control" id="valid" name="valid">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Apply Filters</button>
                </form>
            </div>
        </div>

        <div class="row">
            <div class="col-md-11"></div>
            {% if is_admin %}
            <div clas="col-md-1">
                <form method="post" action="/api/soi_1/upload" enctype="multipart/form-data">
                    <input type="file" name="file" onchange="this.form.submit()">
                </form>
            </div>
            <div class="col-md-2">
                <form method="get" action="/api/delete/all/13">
                    <button type="submit" class="btn btn-primary">Delete All</button>
                </form>
            </div>
            {% endif %}

        </div>  

        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th></th>
                    <th>SOI Number</th>
                    <th>SOI Name</th>
                    <th>Version</th>
                    <th>Link</th>
                    <th>From</th>
                    <th>To</th>
                    <th>Valid</th>
                </tr>
            </thead>
            <tbody>
                {% for soi_1 in soi_1_all %}
                <tr>
                    <td>
                        <a href="/soi_1/{{soi_1[0]}}" class="btn-sm" role="button">
                            <i class="mdi mdi-eye"></i>
                        </a>
                    </td>
                    <td>{{ soi_1[1] }}</td>
                    <td>{{ soi_1[2] }}</td>                    
                    <td>{{ soi_1[3] }}</td>
                    <td><a href="{{soi_1[4]}}">{{ soi_1[4] }}</a></td>
                    <td>{{ soi_1[5] }}</td>
                    <td>{{ soi_1[6] }}</td>
                    <td>{{ soi_1[7] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>  
    </div>
{% endblock %}

