{% extends 'base.html' %}

{% block content %}
  <div class="container my-5">
    <div class="row">
      <div class="col-12">
        <h1 class="text-start mb-5">{{ parameter[1] }}
          {% if is_admin %}
          <td>
              <a href="/parameter/update/{{parameter[0]}}" class="btn-md" role="button">
                  <i class="mdi mdi-update"></i>
              </a>
          </td>
          <td>
              <a href="/api/parameter/delete/{{parameter[0]}}" class="btn-md" role="button">
                  <i class="mdi mdi-delete"></i>
              </a>
          </td>
        {% endif %}
        </h1>  
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="card mb-4">
          <div class="card-header">
            <h3 class="card-title">Parameter Details</h3>
          </div>
          <div class="card-body">
            <ul class="list-unstyled">
              <li><strong>DESCR:</strong> {{ parameter[2] }}</li>
              <li><strong>Pid:</strong> {{ parameter[3] }}</li>
              <li><strong>Hyperlink:</strong> <a href="{{parameter[4]}}">{{ parameter[4] }}</a></li>
              <li><strong>Type Code:</strong> {{ parameter[5] }}</li>
              <li><strong>Format Code:</strong> {{ parameter[6] }}</li>
              <li><strong>Width:</strong> {{ parameter[7] }}</li>
              <li><strong>Valid:</strong> {{ parameter[8] }}</li>
              <li><strong>Related:</strong> {{ parameter[9] }}</li>
              <li><strong>Categ:</strong> {{ parameter[10] }}</li>
              <li><strong>Natur:</strong> {{ parameter[11] }}</li>
              <li><strong>Curtx:</strong> {{ parameter[12] }}</li>
              <li><strong>Inter:</strong> {{ parameter[13] }}</li>
              <li><strong>Uscon:</strong> {{ parameter[14] }}</li>
              <li><strong>Decim:</strong> {{ parameter[15] }}</li>
              <li><strong>Parval:</strong> {{ parameter[16] }}</li>
              <li><strong>Subsys:</strong> {{ parameter[17] }}</li>
              <li><strong>Valpar:</strong> {{ parameter[18] }}</li>
              <li><strong>Sptype:</strong> {{ parameter[19] }}</li>
              <li><strong>Coor:</strong> {{ parameter[20] }}</li>
              <li><strong>Obtid:</strong> {{ parameter[21] }}</li>
              <li><strong>Darc:</strong> {{ parameter[22] }}</li>
              <li><strong>Endian:</strong> {{ parameter[23] }}</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card mb-4">
          <div class="card-header">
            <h3 class="card-title">Mon/OOL Details</h3>
          </div>
          <div class="card-body">
            <ul class="list-unstyled">
              <li><strong>Mon Check Name:</strong> {{ parameter[24] }}</li>
              <li><strong>Mon Check Nbchck:</strong> {{ parameter[25] }}</li>
              <li><strong>Mon Check Nbool:</strong> {{ parameter[26] }}</li>
              <li><strong>Mon Check Inter:</strong> {{ parameter[27] }}</li>
              <li><strong>Mon Check Codin:</strong> {{ parameter[28] }}</li>
              <li><strong>OOL Name:</strong> {{ parameter[29] }}</li>
              <li><strong>OOL Pos:</strong> {{ parameter[30] }}</li>
              <li><strong>OOL Type:</strong> {{ parameter[31] }}</li>
              <li><strong>OOL Vlalu:</strong> {{ parameter[32] }}</li>
              <li><strong>OOL hvalu:</strong> {{ parameter[33] }}</li>
              <li><strong>OOL rlchk:</strong> {{ parameter[34] }}</li>
              <li><strong>OOL valpar:</strong> {{ parameter[35] }}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
