{% extends 'base.html' %}

{% block content %}
  <div class="container my-5">
    <div class="row">
      <div class="col-12">
        <h1 class="text-start mb-5">FD Schedule 3 Details</h1>
      </div>
    </div>
      <form method="POST" action="/api/fd_schedule_3/update/{{fd_schedule[0]}}">
        <div class="row">

          <div class="col-md-3">
            <div class="form-group">
              <label>S_C:</label>
              <input type="text" class="form-control" id="s_c" name="s_c" value="{{ fd_schedule[10] }}">
            </div>
          </div>

          <div class="col-md-3">
            <div class="form-group">
              <label>Year:</label>
              <input type="text" class="form-control" id="year" name="year" value="{{ fd_schedule[1] }}">
            </div>
          </div>
          
          <div class="col-md-3">
            <div class="form-group">
              <label>Day:</label>
              <input type="text" class="form-control" id="day" name="day" value="{{ fd_schedule[2] }}">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label>Date:</label>
              <input type="date" class="form-control" id="date" name="date" value="{{ fd_schedule[3] }}">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label>Penumbra Entry:</label>
              <input type="datetime-local" class="form-control" id="penumbra_entry" name="penumbra_entry" value="{{ fd_schedule[4] }}">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <label>Penumbra Exit:</label>
              <input type="datetime-local" class="form-control" id="penumbra_exit" name="penumbra_exit" value="{{ fd_schedule[5] }}">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label>Umbra Entry:</label>
              <input type="datetime-local" class="form-control" id="umbra_entry" name="umbra_entry" value="{{ fd_schedule[6] }}">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label>Umbra Exit:</label>
              <input type="datetime-local" class="form-control" id="umbra_exit" name="umbra_exit" value="{{ fd_schedule[7] }}">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label>Duration:</label>
              <input type="text" class="form-control" id="duration" name="duration" value="{{ fd_schedule[8] }}">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <label>ECL Time:</label>
              <input type="text" class="form-control" id="ecl_time" name="ecl_time" value="{{ fd_schedule[9] }}">
            </div>
          </div>
         
        </div>

        <div class="row">
         
         
        </div>
        
        <div class="d-flex justify-content-end align-items-center">
          <button type="submit" class="btn btn-primary">Update</button>
        </div>
        </form>
  </div>
{% endblock %}

