<!-- templates/home.html -->

{% extends 'base.html' %}

{% block title %} FD Schedules {% endblock %}

{% block content %}
    <div class="schedule-main">
        <div class="row">
            <h1> SSS FD Scheduled 3 Operations</h1>
        </div>

        <hr>

        <div class="row">
            <div clas="col-md-1">
            {% if is_admin %}
                <form method="post" action="/api/fd_schedule_3/upload" enctype="multipart/form-data">
                    <input type="file" name="file" onchange="this.form.submit()">
                </form>
            {% endif %}
            </div>
            
            
            {% if is_admin %}
            <div class="col-md-2">
                <form method="get" action="/api/delete/all/51">
                    <button type="submit" class="btn btn-primary">Delete All</button>
                </form>
            </div>
            {% endif %}
        </div>
        <br>
    

        <table class="table">
         
            <thead class="thead-dark">
                <tr>
                    <th>Year</th>
                    <th>Day</th>
                    <th>Date</th>
                    <th>Penumbra Entry</th>
                    <th>Penumbra Exit</th>
                    <th>Umbra Entry</th>
                    <th>Umbra Exit</th>
                    <th>Duration</th>
                </tr>
            </thead>
            <tbody>
                {% for row in fd_schedules %}
                <tr>
                    <td>{{ row[1] }}</td>
                    <td>{{ row[2] }}</td>
                    <td>{{ row[3] }}</td>
                    <td>{{ row[4] }}</td>
                    <td>{{ row[5] }}</td>
                    <td>{{ row[6] }}</td>
                    <td>{{ row[7] }}</td>
                    <td>{{ row[8] }}</td>
                </tr>
                {% endfor %}

            </tbody>
        </table>
    
    </div>
{% endblock %}

