<!-- templates/home.html -->

{% extends 'base.html' %}

{% block title %} FD Schedules {% endblock %}

{% block content %}
    <div class="schedule-main">
        <div class="row">
            <h1> SSS FD Scheduled 3 Operations</h1>
        </div>

        <hr>

        <div class="row">
            <div clas="col-md-1">
            {% if is_admin %}
                <form method="post" action="/api/fd_schedule_3/upload" enctype="multipart/form-data">
                    <input type="file" name="file" onchange="this.form.submit()">
                </form>
            {% endif %}
            </div>
            
            
            {% if is_admin %}
            <div class="col-md-2">
                <form method="get" action="/api/delete/all/51">
                    <button type="submit" class="btn btn-primary">Delete All</button>
                </form>
            </div>
            {% endif %}
        </div>
        <br>
    

        <!-- <table class="table">
         
            <thead class="thead-dark">
                <tr>
                    <th>Year</th>
                    <th>Day</th>
                    <th>Date</th>
                    <th>Penumbra Entry</th>
                    <th>Penumbra Exit</th>
                    <th>Umbra Entry</th>
                    <th>Umbra Exit</th>
                    <th>Duration</th>
                </tr>
            </thead>
            <tbody>
                {% for row in fd_schedules %}
                <tr>
                    <td>{{ row[1] }}</td>
                    <td>{{ row[2] }}</td>
                    <td>{{ row[3] }}</td>
                    <td>{{ row[4] }}</td>
                    <td>{{ row[5] }}</td>
                    <td>{{ row[6] }}</td>
                    <td>{{ row[7] }}</td>
                    <td>{{ row[8] }}</td>
                </tr>
                {% endfor %}

            </tbody>
        </table> -->



        <div class="row">
            <div class="col-md-3">
                <form action="/fd_schedules" method="GET">
                    <input type="text" hidden class="form-control" id="week" name="week" value="{{ week_number - 1 }}">
                    <button type="submit" class="btn btn-primary">Previous Week</button>
                </form>
            </div>
            <div class="col-md-6"> 
                <!-- <a href="{{link}}">{{link}}</a> -->
            </div>
            <div class="col-md-1"> WEEK {{week_number}}</div>
            <div class="col-md-2">
                <form action="/fd_schedules" method="GET">
                    <input type="text" hidden class="form-control" id="week" name="week" value="{{ week_number + 1 }}">
                    <button type="submit" class="btn btn-primary">Next Week</button>
                </form>
            </div>
        </div>


        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>Day {{week[0]}}</th>
                    <th>Day {{week[1]}}</th>
                    <th>Day {{week[2]}}</th>
                    <th>Day {{week[3]}}</th>
                    <th>Day {{week[4]}}</th>
                    <th>Day {{week[5]}}</th>
                    <th>Day {{week[6]}}</th>
                </tr>
            </thead>
            <thead class="thead-dark">
                <tr>
                    <th>Mon {{days[0]}}</th>
                    <th>Tue {{days[1]}}</th>
                    <th>Wed {{days[2]}}</th>
                    <th>Thu {{days[3]}}</th>
                    <th>Fri {{days[4]}}</th>
                    <th>Sat {{days[5]}}</th>
                    <th>Sun {{days[6]}}</th>
                </tr>
            </thead>
            <tbody>
                {% for schedule in fd_schedules_new %}
                <tr>
                    <td><a href="fd_schedules_3/{{schedule[0][0]}}">{{ schedule[0][1] }}</a></td>
                    <td><a href="fd_schedules_3/{{schedule[1][0]}}">{{ schedule[1][1] }}</a></td>
                    <td><a href="fd_schedules_3/{{schedule[2][0]}}">{{ schedule[2][1] }}</a></td>
                    <td><a href="fd_schedules_3/{{schedule[3][0]}}">{{ schedule[3][1] }}</a></td>
                    <td><a href="fd_schedules_3/{{schedule[4][0]}}">{{ schedule[4][1] }}</a></td>
                    <td><a href="fd_schedules_3/{{schedule[5][0]}}">{{ schedule[5][1] }}</a></td>
                    <td><a href="fd_schedules_3/{{schedule[6][0]}}">{{ schedule[6][1] }}</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    
    </div>
{% endblock %}

