<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Python Flask Read XML with jQuery Ajax</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script>
  $(document).ready(function () {
      $.ajax({
          type: "GET",
          url: "/static/N_FCI_I205.xml",
          dataType: "xml",
          success: function_Parsxml
      });
  });
  function function_Parsxml(xml) {
      $('#load').fadeOut();
      $(xml).find("event").each(function () {
        $(".main").append('<div class="song" style="min-height:75px;"><div class="title">' + $(this).find("description").text() + '</div> <div class="Artist">' + $(this).find("name").text() + '</div><div class="Artist">' + $(this).find("EPOCH").text() + '</div><div class="Artist">' + $(this).find("DURATION").text() + '</div><div class="Artist">' + $(this).find("parameterList").text() + '</div></div>');
        $(".song").fadeIn(1000);
      });
  }
  </script>
  <style>
  .main{
  width:100%;
  margin:0 auto;
  }
  .song{
  width:140px;
  float:left;
  margin:10px;
  border:1px #dedede solid;
  padding:5px;
  display:none;
  }
  .title{
  margin-bottom:6px;}
  .Artist{font-size:12px; color:#999; margin-top:4px;}
  </style>
  </head>
  <body>
  <p><h2>flight dynamics data (test 2)</h2></p>
  <div class="main">
      <div align="center" class="loader"><img src="/static/img/loader.gif" id="load" align="absmiddle"/></div>
  </div>
  </body>
  </html>