<!-- templates/home.html -->

{% extends 'base.html' %}

{% block title %} Procedure 1 {% endblock %}

{% block content %}
    <div class="schedule-main">
        <h1> MTG Procedures</h1>
        <hr>

        <div class="card mb-3">
            <div class="card-header">
                Filters
            </div>
            <div class="card-body">
                <form method="GET" action="{{ url_for('get_procedures_1') }}">
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label for="title">Procedure Name</label>
                            <input type="text" class="form-control" id="procedureName" name="procedureName">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="title">Sub System</label>
                            <input type="text" class="form-control" id="subSystem" name="subSystem">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="title">version</label>
                            <input type="text" class="form-control" id="version" name="version">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Apply Filters</button>
                </form>
            </div>
        </div>

        <div class="row">
            <div class="col-md-11"></div>
            {% if is_admin %}
            <div clas="col-md-1">
                <form method="post" action="/api/procedure_1/upload" enctype="multipart/form-data">
                    <input type="file" name="file" onchange="this.form.submit()">
                </form>
            </div>
            <div class="col-md-2">
                <form method="get" action="/api/delete/all/15">
                    <button type="submit" class="btn btn-primary">Delete All</button>
                </form>
            </div>
            {% endif %}

        </div>  

        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th></th>
                    <th>Procedure Name</th>
                    <th>Sub System</th>
                    <th>Version</th>
                    <th>Link</th>
                </tr>
            </thead>
            <tbody>
                {% for procedure_1 in procedures_1 %}
                <tr>
                    <td>
                        <a href="/procedure_1/{{procedure_1[0]}}" class="btn-sm" role="button">
                            <i class="mdi mdi-eye"></i>
                        </a>
                    </td>
                    <td>{{ procedure_1[1] }}</td>
                    <td>{{ procedure_1[2] }}</td>                    
                    <td>{{ procedure_1[3] }}</td>
                    <td><a href="{{procedure_1[4]}}">{{ procedure_1[4] }}</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>  
    </div>
{% endblock %}
